/* Sidebar */
.sidebar {
    position: fixed;
    display: flex;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 2px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 0.3s ease;
    background-color: #ffffff;
}

/* Chiều rộng khi thu gọn */
.sidebar.collapsed {
    width: 56px;
}

/* Chiều rộng khi mở rộng */
.sidebar.expanded {
    width: 220px;
}

/* Chiều rộng khi hover nếu không ở trạng thái mở rộng */
.sidebar:not(.expanded):hover {
    width: 220px;
}

/* Nội dung */
.content {
    width: calc(100% - 56px); /* Chiều rộng mặc định khi sidebar thu gọn */
    margin-left: 56px; /* Chiều rộng của sidebar khi thu gọn */
    padding: 16px;
    transition: margin-left 0.3s ease, width 0.5s ease;
}

/* Điều chỉnh nội dung khi sidebar mở rộng hoặc khi hover vào sidebar */
.sidebar.expanded ~ .content,
.sidebar:hover ~ .content {
    margin-left: 220px;
    width: calc(100% - 220px);
}
